@import "variables";
@import "mixins";
.box{
    border: solid 2px black;
    background-color: grey;
    padding: 10px;
  
}
body{
    font-family: 'Roboto Mono', monospace ;
}
nav{
    font-family: 'Roboto Mono', monospace ;
    font-size: bold;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}


h1{
    text-align: center;
    color:black;
    text-transform: uppercase;
    animation-iteration-count: infinite;
  
  
}
h2{
    font-size: 50px;
}
.background1{
    background-color: $background
}
.background2{
    background-color: antiquewhite;
}
.img{
    width: 80px;
}
.bgr-black{
    background-color:black;
}
.bg-azul{
    background:black;
}
.c-white{
    color: white;
}
.btn{
    animation-duration: 0,4s;
}
.btn:hover{
    background-color: white;
    color:red;
     }

 i:hover{
     color: red;
 }    
 
.div{
    
    
    @include text(red,30px);
    @extend .bg-azul;
    text-align: centers;
    
}
$clubes:lawn;
h4{
    @if $clubes==jockey {
        color: brown;
    } @else if $clubes==trc {
        color: green;
    }@else if $clubes==tarco{
        color: red;
    }@else if $clubes==lawn{
        color:white;
    }@else{
        color: black;
    }
}

.margin_left{
    margin-left: 200px;
}
.bg-form{
    background-color: #393e46;
}